//- Since this file, "index.pug" is located in src/html, to get the correct
    path to the "main" layout, we'll use .. to go up one folder, into src,
    followed by "_layout", the name of the folder and "main", the name of the
    file.
    Note: we do not need to use the file extension ".pug" as it is optional to
    add it. Feel free to use it if you consider it makes more sense to you.
extends ../_layout/main

block config
  - const canonical = 'http://quick-blog.bitbee.uk/html'
  - const title = 'HTML5 introduction'
  - const description = 'Discover HTML for beginners'

block welcome
  .welcome
    h1=title
    p.lead=description
    include ../_component/continue/continue

block content
  h2 Read more to find out how cool HTML really is
  .list-wrapper
    each article in data.html
      include ../_component/article/article
