#menu
.action-menu
  //- this link will make the page go to the element
      <div id="menu"></div> which happens to be at
      the bottom of the page, like instant scroll which
      brings our menu into view so we can see it
      <div id="menu"></div> is produced by the first line
      of this file "#menu"
  a.action-menu-link(href="/")
    span.action-menu-label Home
    span.action-menu-arrow
