@media (min-width: 1280px) {
  .#{$class} {
    display: flex;
    flex-direction: column;
  }

  .#{$class}-panel {
    flex-grow: 0;
  }

  .#{$class}-link {
    white-space: nowrap;
  }

  .#{$class}-title,
  .#{$class}-menu {
    text-align: left;
  }
}
