//- Blockquote
  Use on multiline
  +blockquote({
    source: 'Marian Zburlea',
    link: 'http://bitbee.uk',
    body: ["paragraph 1 ', 'paragraph 2']
  })
  or on one line
  +blockquote({ source: 'Marian Zburlea', link: 'http://bitbee.uk', body: ["paragraph 1 ', 'paragraph 2'] })

  CSS: .blockquote, .blockquote-body, .blockquote-footer, .blockquote-source
  source - [string] credit for quote
  link   - [string] link for credit
mixin blockquote({source, link, body})
  blockquote.blockquote&attributes(attributes)
    //- if the body is specified loop through each of its values
        and create a paragraph each time
    if body
      .blockquote-body
        each paragraph in body
          p= paragraph

    //- If a source is present output it
    if source
      footer.blockquote-footer
        //- if a link is present create a link tag with target _blank
            that will open in a new window when it's clicked
        if link
          a.blockquote-source(href=link target="_blank")= source
        else
          .blockquote-source= source
