.footer
  div &copy; #{data.site.copy || '2017 BitBee Ltd'}
  ul.footer-menu
    li.footer-item
      a.footer-link(href="/privacy") Privacy
    li.footer-item
      a.footer-link(href="/terms") Terms
